{% extends "base.html" %} 
{% block page_name %}Index{% endblock %}

{% block content %}
    <div class="container">
        
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>{{ self.title() }}</h1>
            </div>
        </div>
        

        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-8 ">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit felis orci, eget egestas lacus elementum sed. In non dolor nulla. Phasellus varius odio lorem, et fermentum nisi condimentum quis. Mauris laoreet vitae est nec tincidunt. Suspendisse sed augue ac metus egestas fermentum vel vel augue. Quisque odio tortor, pulvinar quis ante ut, porta mattis magna. Nulla sit amet nunc tincidunt tortor fermentum tincidunt. Proin non mauris sed sem egestas faucibus eget mollis est. Cras ultrices dignissim arcu et ultrices. Fusce non turpis ante. Suspendisse potenti. In hendrerit congue mollis. Sed purus mauris, volutpat ut faucibus et, vestibulum et enim. </p>
            </div>
        </div>

    </div>
{% endblock %}




